html,body,.header,.main{
	width: 100%;
	height: 100%;
}

.content{
	
	    padding: 0 12% 0 12%;
}

.header{
background: $black;
	.content{

		h2{
			font-size: 5vh;

			text-align: center;
			color:$white;
		}
	}
}

.main{
position: relative;

	img{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 40%;
    height: 50%;
    z-index: 0;
    opacity: .5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	}

	.projects{
		z-index: 998;
    width: 100%;
    padding: 0 8% 0 8%;
		&__li{
			display:inline-block;
			&--a{
				color:$black;
			padding: 0 5px;
			font-size: 4rem;
			text-transform: uppercase;
			display: block;
			}
		}
	}
}

.footer{
	background: $black;
	
	.credits{
		&__li{
		display:inline-block;
			&--a{
			color:$white;
			padding: 0 5px;
			text-transform: uppercase;
			display: block;
			}
		}
	}
}





